.buttonStyle{
    margin-right: 30px;
}
/* .errorStyle{
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
} */
.total{
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 80%;
    
   
   
}